@import "../lib/vars";
@import "../lib/containers";

.Footer {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  height: $footer-height;
  box-sizing: border-box;
  @extend .f-center;

  &__icon {
    height: 80px;
    width: 80px;
    font-size: 3rem;
    color: $color-white;
  }
}
