@import "../lib/vars";

.Footer {
  background-color: $color-black;
  color: $color-white;
  padding: 2rem 0;
  text-align: center;

  &__icon {
    height: 80px;
    width: 80px;
    font-size: 3rem;
    color: $color-white;
  }
}
