/*--------------------------------------------------------*\
|*                        HEADER                          *|
\*--------------------------------------------------------*/

@import "../lib/vars";
@import "../lib/containers";

.Header {
  color: $color-white;
  // padding: 1rem 0;
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: $header-zindex;
  box-sizing: border-box;
  transition: 0.3s;

  & .container {
    height: 100%;
  }

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .Logo {
      margin: 0;

      & img {
        height: 70px;
      }
    }
  }

  &.bg-black {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  }
}

.Menu {
  position: relative;

  &_icon {
    @extend .f-center;
    background-color: $color-white;
    color: $color-black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    position: relative;

    &:hover {
      transform: scale(0.9);
    }
  }

  &_nav {
    position: absolute;
    right: 10px;
    top: $header-height;
    background-color: $color-white;
    padding: 0 1rem;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 250px;

    & ul {
      list-style: none;
      padding: 0;
    }

    & li {
      margin: 0;
    }

    & a {
      padding: 0.5rem;
      border-radius: 10px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      display: grid;
      grid-template-columns: 20% 1fr;
      align-items: center;
      transition: 0.3s;
    }

    & a:hover {
      // background-color: rgba(0, 0, 0, 0.1);
      background-color: $color-purple;
      color: $color-white;
    }
  }
}
