/*--------------------------------------------------------*\
|*                        HEADER                          *|
\*--------------------------------------------------------*/

@import "../lib/vars";
@import "../lib/containers";

.Header {
  color: $color-white;
  padding: 1rem 0;
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: $header-zindex;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_icon {
    @extend .f-center;
    background-color: $color-white;
    color: $color-black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(0.9);
    }
  }

  &_menu {
    position: absolute;
    right: 200px;
    top: $header-height;
    background-color: $color-white;
    padding: 0.5rem 2rem;
    border-radius: 10px;

    & a {
      text-decoration: none;
      color: $color-black;

      & span {
        margin-left: 1rem;
      }
    }

    & ul {
      list-style: none;
      padding: 0;
    }

    & li {
      margin: 0;
      padding: 0.5rem 0;
    }
  }
}
