.HeroCloud {
  height: 200px;
  //   border: 1px solid white;
  width: 100%;
  position: absolute;
  bottom: 0;

  background-image: url("../../assets/img/clouds-texture.png");
  z-index: 2;
  background-position-x: 0px;
  transition: 0.3s;
  animation: cloud_moved 20s linear infinite forwards;
  opacity: 0.3;
  //   background-size: 50%;
}

@keyframes cloud_moved {
  0% {
    background-position-x: 0px;
  }
  50% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 100%;
  }
}
