/*--------------------------------------------------------*\
|*                    HERO CANVAS                         *|
\*--------------------------------------------------------*/

.HeroCanvas {
  position: absolute;
  min-height: inherit;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
