/*--------------------------------------------------------*\
|*                        HERO                            *|
\*--------------------------------------------------------*/

@import "../lib/vars";
@import "../lib/containers";

.Hero {
  min-height: 100vh;
  background: rgb(33, 16, 48);
  background: linear-gradient(
    315deg,
    rgba(33, 16, 48, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: $color-white;
  @extend .f-center;
  flex-direction: column;
  position: relative;

  & h1 {
    font-size: 4rem;
    font-weight: 700;
    z-index: $hero-zindex;
  }

  & .List {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: $hero-zindex;

    & li {
      margin: 0;
    }

    & li:nth-child(2) {
      margin-left: 3rem;
    }
  }
}
