/*--------------------------------------------------------*\
|*                        HOME                            *|
\*--------------------------------------------------------*/

.Home {
  position: relative;
  background: rgb(33, 16, 48);
  background: linear-gradient(
    315deg,
    rgba(33, 16, 48, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
